.carts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.review-box{
    width: 500px;
    position: relative;
   
    
}
@media only screen and (max-width: 400px){
    
    .carts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        
    }
    .review-box{
        width: 100%;
        position: relative;
       
        
    }
}