.charts{
    display: flex;
    margin: 50px;
}
.pie{
    position: relative;
    top: 10px;
    left: -50px;
}
@media screen and (max-width:390px){
    .charts{
        display: block;
        width: 390px;
    }
    
}