.charts{
    display: flex;
    margin: 50px;
    justify-content: center;
}
.chart{
    position: relative;
    top: 10px;
    left: -50px;
    text-align: center;
}
@media only screen and (max-width: 400px){
    .charts{
        display: block;
        margin: 50px;
       
    }
    .recharts-surface{
        width: 350px;
    }
    .recharts-wrapper{
        width: 200px !important;
    }
    .recharts-default-legend{
        width: 50px;
    }
    .recharts-legend-wrapper{
        width: 50px !important;
    }
}