.blog{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.accordion{
    max-width: 800px;
    text-align: center;
    
}
.accordion-button{
    width: 800px;
   
   
}
@media only screen and (max-width: 400px){
    .blog{
        
        margin-top: 50px;
        
    }
    .accordion{
        
        max-width: 250px;
        
        
    }
    .accordion-button{
        width:250px;
       
        font-size: 14px;
    }
}